@font-face {
    font-family: Tenorite;
    src: url(Tenorite.ttf);
}

body {
    background-color: black;
    font-family: Tenorite;
}

p {
    color: white;
    font-size: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
}