@font-face {
    font-family: Tenorite;
    src: url(Tenorite.ttf);
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background-color: black;
    color: white;
    font-family: Tenorite;
    overflow-x: hidden;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.segment-title {
    font-size: 45px;
    margin-left: 5px;
    padding-top: 10px;
}

#main-name-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#name {
    font-size: 50px;
    text-shadow: 0 0 10px white;
}

#famous-words-list {
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#famous-words-sec {
    min-height: 99vh;
}

section {
    scroll-behavior: smooth;
    position: relative;
    scroll-snap-align: start;
}

#down-arrow {
    position: absolute;
    bottom: 3vh;
    font-size: 50px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;

    animation-name: arrow-pulse;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes arrow-pulse {
    from {transform: scale(1);}
    to {transform: scale(1.4);}
}

@media screen and (max-width: 450px) {
    .segment-title {
        font-size: 35px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    #name {
        font-size: 35px;
    }

    p {
        padding: 0 20px;
        font-size: 25px;
    }
}