@font-face {
    font-family: Tenorite;
    src: url(Tenorite.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: Tenorite;
    overflow-x: hidden;
}

p { 
    margin: 0;
}

#name {
    font-size: 60px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
}

#infos-listed-div {
    margin-left: 40px;
    font-size: 25px;
}

.informaton-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 10px;
}

.informaton-div p {
    margin-left: 5px;
}

.quote {
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.5s;
}

.quote:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 700px) {
    #name {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 50px;
    }

    #infos-listed-div {
        margin-left: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    #name {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 40px;
    }

    #infos-listed-div {
        margin-left: 10px;
    }

    .informaton-div {
        margin-bottom: 5px;
    }

    span {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 320px) {
    #name {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 30px;
    }

    #infos-listed-div {
        margin-left: 5px;
        font-size: 15px;
    }
}